.SendAndRecieve {
  display: flex;
}
.nav {
  box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 9px 46px 0px rgba(0, 0, 0, 0.12);
background: rgba(17, 16, 16, 0.77);
margin: 7px 0 ;
border-radius: 8px;
padding: 9px;
box-shadow: 0px 24px 38px 0px rgba(0, 0, 0, 0.14);
width: 100%;
justify-content: space-between;
align-items: center;
color: white ;
display: flex;

}
.bg-img {
  background-image: url(../public/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.bg-blur {
box-shadow: 0px 11px 15px 0px #00000033;
box-shadow: 0px 9px 46px 0px #0000001F;
box-shadow: 0px 24px 38px 0px #00000024;
background: #111010C4;
border-radius: 5px;
padding: 10px;
}
.tab-buttons {
  display: flex;
  justify-content: center;

}

.tab-button {
  /* background-color: #fff; */
  margin-top: 20px;
  width: 95.44px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  /* background: #EBF0F01A; */
  background-color: black;
  
  color: white;
}

.tab-button.active {
  background-color: #171818;
  color: #fff;
}

.form-content {
  background: #171818;
  border-radius: 15px;
}
.form-content p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #7c7d7d;
  letter-spacing: 0px;
}

.TotalAmount{
  font-family: inter;
  font-size: 56px;
  font-weight: 800;
  color: white;

}
.form-content h5 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
.form-content button {
  background-color: #0052ff;
  width: 100%;
}
